/** страница Портфолио **/
.wrapper.portfolio .container:nth-child(2) {
  padding: 30px 15px 20px;
}
.portfolio {
  .empty-portfolio {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    a {
      font-weight: 700;
      color: $blue;
      text-transform: uppercase;
      position: relative;
      padding-left: 5px;
    }
  }
  .choose-genre {
    font-family: $font-family-andale;
  }
  .scroll {
    font-size: 14px;
    overflow-y: scroll;
    background: $transparent-grey;
    padding: 30px 50px;
    height: 600px;
    margin-bottom: 10px;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: $light-grey;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: #b4b4b4;
      }
    }
    .tag {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.2em;
      margin: 0 0 20px;
      &.active {
        color: $blue;
        font-weight: 700
      }
    }
  }

  .hr {
    border-bottom: 1px solid $transparent-light;
  }
  %play-button {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: $white;
    border-radius: 100%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  button.play-button {
    @extend %play-button;
    transition: background 0.3s ease-in-out;
    %icon {
      fill: $transparent-grey;
      position: absolute;
      top: 4px;
      left: 3px;
      width: 20px;
      height: 20px;
    }
    .pause {
      @extend %icon;
    }

    .play {
      @extend %icon;
      left: 5px;
    }
  }
  .player {
    font-size: 14px;
    padding: 10px 0;
    background: $transparent-grey;
    .title {
      color: $light-grey;
      position: absolute;
      top: -12px;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .fa-volume-up {
      margin-right: 15px;
    }
    progress {
      width: 100%;
      height: 6px;
      border: 0;
      border-radius: 6px;
      overflow: hidden;
      -webkit-appearance: none;
      cursor: pointer;
      vertical-align: middle;
      color: $blue;
      background-color: $light-grey;

      &::-webkit-progress-bar {
        background-color: $light-grey;
      }
      &::-moz-progress-bar {
        background-color: $blue;
      }
      &::-webkit-progress-value {
        background-color: $blue;
      }
    }
  }
  .select-genre {
    &__single-value {
      color: $white;
    }
    &__option:hover, &__option--is-selected, &__option--is-focused {
      background-color: $blue;
      color: $black;
    }
    &__menu {
      background-color: $black;
      color: $white;
    }
    &__control {
      background-color: $transparent-grey;
      color: $white;
      box-shadow: 0 0 0 1px $blue;
      border: none;
    }
    &__indicator {
      color: $blue;
      &-separator {
        background-color: $blue;
      }
    }

  }

  .tracks {
    flex-wrap: wrap;
    justify-content: flex-start;
    .track {
      flex: 1;
      flex-basis: 25%;
      max-width: 25%;
      .track-content {
        margin: 15px;
        background: $transparent-grey;
        box-shadow: 0 0 0 1px $transparent-light;
        border-radius: 6px;
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
          box-shadow: 0 0 2px 1px $blue;
          .play-button {
            background: $blue;
            box-shadow: 0 0 2px 1px $transparent-grey;
          }
        }
      }
      .artwork {
        position: relative;
        cursor: pointer;
        img {
          border-radius: 6px 6px 0 0;
        }
        &-button {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -25px;
          margin-left: -25px;
          .play-button {
            @extend %play-button;
            width: 50px;
            height: 50px;
            .pause {
              @extend %icon;
              width: 30px !important;
              height: 30px !important;
              left: 8px !important;
              top: 8px !important;
            }
            .play {
              @extend %icon;
              left: 11px !important;
              top: 8px !important;
              width: 30px !important;
              height: 30px !important;
            }

          }
        }
      }
    }
  }
}