/** страница Отзывов **/
.reviews {

  .review-popup {
    background: #f0f0f0;
    color: $black;
    padding: 15px;

    .form-control.transparent {
      color: $black;
    }
    .leave-feedback p {
      line-height: 1.2;
      font-size: 15px
    }
    .avatar-preview {
      max-height: 100%;
      margin: 0 auto
    }
    .socials {
      margin-top: 0;
      vertical-align: middle;

      span {
        cursor: pointer;
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0 10px 0 0;
        line-height: 26px;
        background: url('../../img/social-contact.png') 0 0 no-repeat;
        vertical-align: middle;
        &.vkontakte {
          background-position: -76px 0
        }
        &.instagram {
          background-position: -115px 0
        }
        &.twitter {
          background-position: -154px 0
        }
        &.google {
          background-position: -38px 0
        }
        &.inactive {
          background-position-y: -27px;
        }
      }

      .here {
        color: $grey;
        font-style: italic;
        text-transform: lowercase;
        height: 26px;
        line-height: 26px;
        vertical-align: middle;
        display: inline-block
      }
      .popup-content {
        padding: 15px !important;
        font-size: 13px;
      }
    }
  }
}