@media (min-width: 1200px) {
  .container {
    width: 970px
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 63px;
  }
  .nav li > form {
    padding: 3px;
  }
  .navbar li a, .navbar-brand {
    padding: 10px 0 !important;
    margin: 0;
  }
  .lang {
    float: none;
    padding: 0;
  }
  .lang a {
    margin: 15px 5px !important;
  }
  .reviews .popup-content:first-child {
    width: 100% !important;
  }
}