@media (min-width: 1200px) {
  .container {
    width: 970px
  }
  .portfolio {
    .tracks {
      .track {
        flex-basis: 20%;
        max-width: 20%;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 71px;
  }
  .nav li > form {
    padding: 3px;
  }
  .navbar li a, .navbar-brand {
    padding: 10px 0 !important;
    margin: 0;
  }
  .lang {
    float: none;
    padding: 0;
  }
  .lang a {
    margin: 15px 5px !important;
  }
  .reviews .popup-content:first-child {
    width: 100% !important;
  }
  .copyright {
    line-height: 2;
  }
  .portfolio {
    .tracks {
      .track {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
      }
    }
    .choose-genre {
      font-size: 13px;
    }
  }
}

@media (max-width: 640px) {
  .portfolio {
    .tracks {
      .track {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  .video-page {
    .videos {
      .video {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}