@import "~font-awesome/scss/font-awesome";

@font-face {
  font-family: 'andale_monoregular';
  src: url(../fonts/andale_mono-webfont.eot);
  src: url(../fonts/andale_mono-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/andale_mono-webfont.woff2) format("woff2"), url(../fonts/andale_mono-webfont.woff) format("woff"), url(../fonts/andale_mono-webfont.ttf) format("truetype"), url(../fonts/andale_mono-webfont.svg#andale_monoregular) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'pt_sansregular';
  src: url(../fonts/pts55f-webfont.eot);
  src: url(../fonts/pts55f-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/pts55f-webfont.woff2) format("woff2"), url(../fonts/pts55f-webfont.woff) format("woff"), url(../fonts/pts55f-webfont.ttf) format("truetype"), url(../fonts/pts55f-webfont.svg#pt_sansregular) format("svg");
  font-weight: 400;
  font-style: normal
}
