//Colors
$black: #0A0C0D;
$blue: #80D1FF;
$grey: #141719;
$light-grey: #B6B7B7;
$red: #ec7373;
// Body
$body-bg: $black;

// Typography
$font-size-base: 14;

$font-family-andale: 'andale_monoregular', sans-serif;
$font-family-ptsans: 'pt_sansregular', sans-serif;

