//Colors
$black: #0A0C0D;
$blue: #80D1FF;

// Body
$body-bg: $black;

// Typography
$font-size-base: 14;

$font-family-andale: 'andale_monoregular', sans-serif;
$font-family-ptsans: 'pt_sansregular', sans-serif;

