// Fonts
@import "fonts";
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  color: $white;
  font-family: $font-family-ptsans;
  padding-top: 100px;
}

button, button:active, button:focus {
  outline: none;
}

.navbar-dark {
  border-color: $black;
  background-color: $black;

  %navbar-element {
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px;
  }
  li a {
    @extend %navbar-element;
  }
  .navbar-brand {
    @extend %navbar-element;
    font-family: $font-family-andale;
    padding-left: 0;
    .blue {
      color: $blue;
    }
  }

}
